@import url('https://fonts.googleapis.com/css?family=Poiret+One|Sigmar+One');
/*
    font-family: 'Poiret One', cursive;
    font-family: 'Sigmar One', cursive;
*/
:root {
  --primary-bg: #050F15;
  --secondary-bg: #1D2247;
  --primary-color: #C2E0F4;
  --secondary-color: #85C1E9;
  --flat-1: #FFE1AE;
  --flat-2: #F9B32A;
  --flat-3: #FD7150;
  --flat-4: #FA4228;
  --flat-5: #336E7B;
  --flat-6: #3498DB;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
  background: var(--primary-bg);
  color: var(--primary-color);
  text-align: center;
}
.menu {
  position: fixed;
  left: 0;
  padding: 2rem;
}
#menu-btn {
  background: transparent;
  color: aliceblue;
}
.head {
  padding-top: 1rem;
}
.question {
  padding: 2rem;
  font-size: 4rem;
}
.cell {
  background: var(--secondary-bg);
  padding: 1rem;
  border: solid 4px var(--primary-bg);
}
.cell:hover {
  transition: all 1s;
  color: aliceblue;
  background: var(--flat-5);
}
.number-block {
  color: var(--secondary-color);
}
.p-round {
  display: inline-block;
  transform: translateY(-5px);
}
.round {
  cursor: crosshair;
}
#prev {
  padding: 1rem;
  font-size: 2rem;
  vertical-align: center;
}
#next {
  padding: 1rem;
  font-size: 2rem;
  vertical-align: center;
}
