.steve {
  position: absolute;
  z-index: 0;
  margin: auto;
  transform: translateX(-50%);
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.lazers {
  opacity: 0;
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
  animation-name: lazerEyes;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lazerEyes {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
